@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f3f4f6; 
    --foreground: #344E41; 
  
    --brand-light: #b3a2d8;
    --brand-lighter: #a192ce;
    --brand-base: #9b79b9;
    /* --brand-base: #f77f00; */
    --brand-dark: #6e4e8d;
    --brand-darker: #4e2a5b;
    --brand-darkest: #621212;

    --text-primary: #1f2937;
    --text-secondary: #6b7280;
  
    --error: #DC2626;
  }

body {
    @apply bg-background text-foreground;
}

button {
    @apply transition duration-300 ease-in-out rounded px-4 py-2;
}

button:active {
    @apply transform scale-95;
}

/* @layer utilities {
    .placeholder-italic::placeholder{
       font-style: italic;
    }
} */

body {
    font-family: 'Poppins', sans-serif;
}

/* html {
    scrollbar-gutter: stable;
} */
/* 
body {
    padding-left: 2rem;
} */