@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6;
  --foreground: #344e41;

  --brand-light: #b3a2d8;
  --brand-lighter: #a192ce;
  --brand-base: #9b79b9;
  --brand-dark: #6e4e8d;
  --brand-dark_hover: #825ea5;
  --brand-darker: #4e2a5b;
  --brand-darkest: #621212;

  --text-primary: #1f2937;
  --text-secondary: #6b7280;

  --error: #dc2626;
}

@font-face {
  font-family: "Nunito Variable";
  src: url("/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

body {
  @apply bg-background text-foreground;
}

button {
  @apply transition duration-300 ease-in-out rounded px-4 py-2;
}

button:active {
  @apply transform scale-95;
}

.rounded-base {
  @apply rounded-2xl;
}

::view-transition-group(root) {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

body {
  font-family: "Nunito Variable", sans-serif;
}

thead th:first-child {
  border-top-left-radius: 16px;
}
thead th:last-child {
  border-top-right-radius: 16px;
}
